//- extends ../layout.pug

block content
    .container-admin
        h1.admin-title Admin Dashboard
        ul.admin-menu
            li.admin-item
                a.admin-link(href='/admin/account') Accounts
            li.admin-item
                a.admin-link(href='/admin/jobseeker') Job Seekers
            li.admin-item
                a.admin-link(href='/admin/company') Companies
            li.admin-item
                a.admin-link(href='/admin/job') Jobs
            li.admin-item
                a.admin-link(href='/admin/jobapplication') Job Applications