block content 
    footer.footer
      .footer-container
        .footer-column
          p Jl. Sukses No. 123, Bandung 10110, Indonesia
          p Hubungi Kami: +62 812 3456 7890
          p Kirim Email ke Kami: support@jobseeker.com
        .footer-column
          ul
            li Tentang Kami
            li Kontak
        .footer-column
          ul
            li Instagram
            li Facebook
            li Twitter
            li Linkedin
        .footer-bottom
          p ©2024-2025 JobSeeker
