extends layout.pug
block content
  div.container-register-fom
    .card-register
      form.form-horizontal(method='post' action='/register')
        h2.mb-5.register-tittle Register
        .mb-3
          label.form-label.control-label(for='email') Email
          input#email.form-control(type='email' name='email' autocomplete="off")
        .mb-3
          label.form-label.control-label(for='password') Password (Max 10 character)
          input#password.form-control(type='password' name='password' autocomplete="off" )
        .mb-3
          label.form-label.control-label(for='retype-password') Re-type Password
          input#retype-password.form-control(type='password' name='retype-password' autocomplete="off")
        .mb-3
          label.form-label.control-label(for='role') Anda Mendaftar Sebagai
          select#role.form-control(name='role')
            option(value='Job Seeker') Job Seeker
            option(value='Company') Company
        .mb-0.py-3
          button.btn-register-form(type='submit') Register
          a(href='/login').ps-2.btn-login Login

