extends ../layout.pug

block content
  div.container-lamar-pekerjaan
    h2.title-lamar Lamar Pekerjaan Ini
    p.instructions
      | Harap unggah dokumen-dokumen berikut dalam format PDF, DOCX, atau JPG:
      ol
        li Curriculum Vitae (CV) atau Resume
        li Surat Lamaran (Cover Letter)
        li Portofolio
        li Sertifikat Keahlian
        li KTP atau Identifikasi Diri
      p
        | Klik tombol "Unggah Berkas Lamaran" di bawah ini untuk mengirimkan lamaran Anda.

      form.form-lamar(method='post' action=`/jobsApply/${jobId}` id='create' enctype="multipart/form-data")
        div.file-upload-dokumen
          label.label-file(for='File')
            | Tarik File ke Area Ini untuk Diunggah
          div.upload-area
            input#File.input-file(type='file' multiple onchange="addFiles(event)")
            button.btn-upload(type='button' onclick="document.getElementById('File').click()") Unggah File
          ul.file-list 

      div.pesan-container
        textarea#message.form-pesan(name='message' rows='4' placeholder='Tuliskan pesan atau pertanyaan Anda di sini!')

      div.apply-container
        button.btn-submit(type='submit') Kirim

  script.
    let filesArray = []; 

    function addFiles(event) {
      const input = event.target;
      const newFiles = Array.from(input.files); 
      filesArray = [...filesArray, ...newFiles]; 

      input.value = '';

      renderFileList();
    }

    function removeFile(index) {
      filesArray.splice(index, 1); 
      renderFileList(); 
    }

    function renderFileList() {
      const fileListElement = document.querySelector('.file-list');
      fileListElement.innerHTML = ''; 

      filesArray.forEach((file, index) => {
        const li = document.createElement('li');
        li.textContent = `${file.name}`;

        const removeButton = document.createElement('button');
        removeButton.textContent = 'X';
        removeButton.className = 'remove-button'; 
        removeButton.onclick = () => removeFile(index); 

        li.appendChild(removeButton); 
        fileListElement.appendChild(li); 
      });
    }


