block content

    h1 Admin Jobseeker
    ul
        li
            a(href='/admin/account') Accounts
        li
            a(href='/admin/jobseeker') Job Seekers
        li
            a(href='/admin/company') Companies
        li
            a(href='/admin/job') Jobs
        li
            a(href='/admin/jobapplication') Job Applications